.swiper {
    padding: 20px;
}
.swiper-slide {
    display: flex;
    justify-content: center;
}
.swiper-pagination-bullet {
    background-color: #00A04A;
}
.swiper-button-next {
    color: #00A04A;
}
.swiper-button-prev {
    color: #00A04A;
}